# ***Lists***

In [80]:
randomList = ['Marudhav','Manoj','Subash',23.56,[5,2,3]]

randomList.append('Manoj')
print("Adding string to the List\t :",randomList)


randomList.remove('Manoj')
print("Updated List by removing a name  : ",randomList)


randomList[3].sort()
print("\nSorting the subList in the List\t\t\t: ",randomList)
 
randomList[3].insert(0,6)
print("Adding the numbers in the subList using index   : ", randomList)


print("\nTotal counts : ",randomList.count('Manoj'))

print("Index of Manoj : ", randomList.index('Manoj'))

randomList.clear()
print("Clearing the entire List : " ,randomList)

Adding string to the List	 : ['Marudhav', 'Manoj', 'Subash', 23.56, [5, 2, 3], 'Manoj']
Updated List by removing a name  :  ['Marudhav', 'Subash', 23.56, [5, 2, 3], 'Manoj']

Sorting the subList in the List			:  ['Marudhav', 'Subash', 23.56, [2, 3, 5], 'Manoj']
Adding the numbers in the subList using index   :  ['Marudhav', 'Subash', 23.56, [6, 2, 3, 5], 'Manoj']

Total counts :  1
Index of Manoj :  4
Clearing the entire List :  []

# ***Dicts***

In [129]:
student1 = {'name':'Ravi','rollNo': 85,'college':'Kumaraguru'}

student2 = student1.copy()
print("Copied dict student2\t\t\t: ",student2)

student2['address']='Cbe'
student2['cgpa'] = 8.5

print("Keys in the Dict student2\t\t: ",student2.keys())

student2.pop('rollNo')
print("After poping the rollNo from student2\t: ",student2)

student2.setdefault('scholarShip') 
print("Setting the default value for Keys\t: ",student2)

student2.update(dept='ECE',section='C')
print("Values in student2 \t\t\t: ", student2.values())

Copied dict student2			:  {'name': 'Ravi', 'rollNo': 85, 'college': 'Kumaraguru'}
Keys in the Dict student2		:  dict_keys(['name', 'rollNo', 'college', 'address', 'cgpa'])
After poping the rollNo from student2	:  {'name': 'Ravi', 'college': 'Kumaraguru', 'address': 'Cbe', 'cgpa': 8.5}
Setting the default value for Keys	:  {'name': 'Ravi', 'college': 'Kumaraguru', 'address': 'Cbe', 'cgpa': 8.5, 'scholarShip': None}
Values in student2 			:  dict_values(['Ravi', 'Kumaraguru', 'Cbe', 8.5, None, 'ECE', 'C'])

# ***Sets***

In [107]:
set1 = {"Jan","Feb","Mar", "April"}    
set2 = {"Jun", "May", "April"}    

print("Symetric diffrence in the sets  : ",set1.symmetric_difference(set2))
print("Common month in the sets\t: ", set1.intersection(set2))

set3=set1.union(set2)
print("\nUnique values in the sets\t: ",set3 )

set3.update(["July","August"])
print("Total months after including\t: ", set3)

print("\nSet3 is Subset of set1\t\t: ",set3.issubset(set1))
set3.discard('Feb')
print("After discarding the element    : ",set3)

print("\npopped element\t\t : ",set3.pop(),"\nAfter poping the element : ", set3)

Symetric diffrence in the sets  :  {'Feb', 'May', 'Jan', 'Jun', 'Mar'}
Common month in the sets	:  {'April'}

Unique values in the sets	:  {'May', 'Feb', 'Jan', 'April', 'Jun', 'Mar'}
Total months after including	:  {'July', 'May', 'August', 'Feb', 'Jan', 'April', 'Jun', 'Mar'}

Set3 is Subset of set1		:  False
After discarding the element    :  {'July', 'May', 'August', 'Jan', 'April', 'Jun', 'Mar'}

popped element		 :  July
After poping the element :  {'May', 'August', 'Jan', 'April', 'Jun', 'Mar'}

# ***Tuple***

In [110]:
randomNumbers = [24,38,76,29,2,2,24]

numbers = tuple(randomNumbers)
print("Converting List as Tuple : ", numbers)
print("Total Length : ",len(numbers))

print("\nMinimum number in the tuple : ",min(numbers))
print("Maximum number in the tuple : ",max(numbers))

print("\nNumber of 2s : ",numbers.count(2))
print("Index of 38  : ",numbers.index(38) )

Converting List as Tuple :  (24, 38, 76, 29, 2, 2, 24)
Total Length :  7

Minimum number in the tuple :  2
Maximum number in the tuple :  76

Number of 2s :  2
Index of 38  :  1

# ***Strings***

In [72]:
randomString = "heLlo How aRe yoU ?"
randomString2 = "2020"
randomString3 = "Domo"
print('Capitalize the starting letter in a string :',randomString.capitalize())

print("finding the string '",randomString2,"' is suitable as a identifier :",randomString2.isidentifier())
print("finding the string '",randomString3,"' is suitable as a identifier :",randomString3.isidentifier())

print("\nSwaping the cases in a string\t\t:",randomString.swapcase())

print("Checking the string contains digits     : ",randomString2.isdigit())
print("Checking the string contains decimals   : ",randomString2.isdecimal())

print("\nAligning the string : ",randomString.center(25,'#'))

print("Counting the characters in a string with index range : ",randomString.count('o',5,12))

print("\nBefore replacement : ",randomString3,"\nAfter Replacing the characters in a string : ",randomString3.replace('o','O'))

Capitalize the starting letter in a string : Hello how are you ?
finding the string ' 2020 ' is suitable as a identifier : False
finding the string ' Domo ' is suitable as a identifier : True

Swaping the cases in a string		: HElLO hOW ArE YOu ?
Checking the string contains digits     :  True
Checking the string contains decimals   :  True

Aligning the string :  ###heLlo How aRe yoU ?###
Counting the characters in a string with index range :  1

Before replacement :  Domo
After Replacing the characters in a string :  DOmO